@tailwind base;
@tailwind components;
@tailwind utilities;
.group:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #3b82f6; /* Tailwind blue-500 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.group:hover::after {
  transform: scaleX(1);
}
